
.calculator{
    width: 300px;
    background-color: #796cc0;
    margin: 50px auto 10px auto;
    padding: 7px;
    border-radius: 5px;
    display: block;
}
h1{
    text-align: center;
}
#layar{
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #cecece;
    font-size: 50px;
    font-weight: bold;
    color: rgb(13, 56, 32);
    padding: 7px 5px;
    text-align: right;
    outline: none;
}
.container-tombol{
    display: flex;
    flex-wrap: wrap;
}
.tombol{
    display: flex;
    width: 25%;
    font-size: 20px;
    color: rgb(15, 13, 14);
    font-weight: bold;
    height: 70px;
    border: 1px solid #cecece;
    box-sizing: border-box;
    justify-items: center;
    align-items: center;
}
.tombol:nth-child(4n+1){
    border-left: 1px solid #cecece;
}
.tombol:hover{
    background-color: #d8d8d8;
    cursor: pointer;
}
#nol{
    flex-grow: 2;
}
#operator{
    background-color: #ecb3e3;
}
#hitung{
    background-color: #42c5c5;
    color: white;
}
#hitumg:hover{
    background-color: #ffa64a;
    cursor: pointer;
}
footer{
    padding: 5px;
}
footer ii{
    list-style: none;
}
footer a{
    color: black;
}

/*HP*/
@media(max-width:576px){
    .calculator{
        width: 90%;
        height: 90%;
    }
}